*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* border: 1px solid black; */
    /* background-color: aqua; */
    background:linear-gradient(45deg, red, blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.container{
    width: 400px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}


.header{
    /* background-color: gray; */
    background:linear-gradient(45deg, red, blue);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

/* .login{
    background-color: gray;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
} */

/* .header:hover{

} */

.form{
    padding: 5px 40px;
   
}

.none{
    
    display: none;
}

.form-control{
    margin-bottom:10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom:5px;
}

.form-control input,select{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid linear-gradient(45deg, red, blue);
}


.success input {
     border: 2px solid rgb(19, 250, 2);
}


.error input {
     border: 2px solid rgb(250, 2, 2);
}


.success select {
     border: 2px solid rgb(19, 250, 2);
}


.error select {
     border: 2px solid rgb(250, 2, 2);
}


.form-control small{
    position: absolute;
    margin-top: 3px;
    margin-bottom: 1px;
    visibility: hidden;
    width: 100%;
    
}

button {
    /* background-color: turquoise; */
    background:linear-gradient(45deg, red, blue);
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    /* border: 2px solid gray; */
    border: 2px solid linear-gradient(45deg, red, blue);
    cursor: pointer;
    font-weight: bold;
    transition: ease-in-out;
    /* display: flex; */
    display: inline-block;
}


button:hover{
     /* padding: 10px 10px; */
      background-color: rgb(84, 180, 171);
      color: white;
}

.header:hover{
    color: white;
}


.forgot h6{
    align-items: center;
    text-align: center;
    color: blue;
    cursor: pointer;
}


